.bare {
  margin: 0;
  padding: 0;
}
.vertical-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
html,
body {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  color: #1abc9c;
  font-family: Lato, Helvetica, Arial, sans-serif;
}
.container {
  position: relative;
  width: 100%;
  height: 100%;
}
.page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
}
.title-page .title {
  margin: 1em 0 0.2em;
  text-align: center;
  font-size: 96px;
  color: #494861;
}
.title-page .title-notation {
  margin: 2em 0;
  text-align: center;
  font-size: 20px;
}
.title-page .difficulties {
  width: 240px;
  margin: 0 auto;
}
.title-page .difficulties button {
  width: 100%;
  height: 48px;
  font-size: 20px;
  margin: 5px 0;
  padding: 10px 19px;
  line-height: 1em;
  border: none;
  border-radius: 6px;
  background-color: #1abc9c;
  color: #ffffff;
  font-family: Lato, Helvetica, Arial, sans-serif;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.title-page .difficulties button:focus {
  outline: none;
}
.title-page .difficulties button:hover {
  background-color: #28e1bd;
}
.title-page .difficulties .difficulty-description {
  margin: 2px 0 10px;
  text-align: center;
}
.game-page .game-text {
  width: 100%;
  height: 30%;
  margin: 0;
  padding: 0;
}
.game-page .game-cards {
  width: 100%;
  height: 70%;
  margin: 0;
  padding: 0;
}
.game-page .game-cards .card-wrap {
  width: 50%;
  height: 25%;
  display: block;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px;
}
.game-page .game-cards .card {
  height: 100%;
  padding: 0 5px;
  border-radius: 5px;
  background-color: gray;
  position: relative;
}
.game-page .game-cards .card .card-label {
  display: block;
  width: 100%;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  font-size: 2.6vh;
}
.game-page .game-cards .card .card-status {
  display: none;
}
.game-page .game-cards .card-ps .card {
  background-color: #27ae60;
  color: #ddf7f5;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.game-page .game-cards .card-ps .card:hover {
  background-color: #36d278;
}
.game-page .game-cards .card-ds .card {
  background-color: #1abc9c;
  color: #dbf1fa;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.game-page .game-cards .card-ds .card:hover {
  background-color: #28e1bd;
}
.game-page .game-cards .card-std .card {
  background-color: #2980b9;
  color: #e7e9fa;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.game-page .game-cards .card-std .card:hover {
  background-color: #409ad5;
}
.game-page .game-cards .card-info .card {
  background-color: #8e44ad;
  color: #fbf5fa;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.game-page .game-cards .card-info .card:hover {
  background-color: #a563c1;
}
.game-page .game-cards .card-exp .card {
  background-color: #c0392b;
  color: #fbf6ef;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.game-page .game-cards .card-exp .card:hover {
  background-color: #d65548;
}
.game-page .game-cards .card-bcp .card {
  background-color: #c2a200;
  color: #ebffc2;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.game-page .game-cards .card-bcp .card:hover {
  background-color: #f5cd00;
}
.game-page .game-cards .card-hist .card {
  background-color: #d35400;
  color: #fffbd3;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.game-page .game-cards .card-hist .card:hover {
  background-color: #ff6a07;
}
.game-page .game-cards .card-unk .card {
  background-color: #2c3e50;
  color: #aaaad1;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.game-page .game-cards .card-unk .card:hover {
  background-color: #3e5771;
}
